# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List some of the popular languages used by Data Scientists
- List commonly used Libraries
- List common open sourced tools used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. PyTorch

|Data Science Tools|
|------|
|Jupyter Notebooks|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [26]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Sithapa R.